@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Scheherazade+New&display=swap');
*{
    font-family: 'Roboto Slab', serif;
   
}
.dropdown-item:hover{
background-color: #338EFF;
}
nav{
    width: 100%;
    position: absolute !important;
    position: fixed !important;
}
.flex-container4  {
    background-color: rgba(27, 26, 26, 0.753);
    margin-top: 50px;
}
.nav-link:hover{
color: #338EFF;
}

.btn{
    position: absolute;
    margin-top: -150px;
    width: 100px;
    margin-left: 600px;
}
.collapse {
    float: right;
}
.image{
    background-image: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 80px;
    height: 250px;;
}
.text{
    color: white;
   text-align: center;
   position: relative;
  margin-top: -130px;
  line-height: 0%;
  font-size: 20px;
  font-weight: 900;
 
}
.pic:hover{
    opacity: 0.6;
}
.text1{
color: white;
text-align: center;
position: relative;
font-size: 12px;
}
.flex-container{
    margin-top: 150px;
    text-align: justify;
}
.pic{
    width: 300px;
    height: 250px;
}
.flex-container1 {
    display: flex;
    flex-direction:column;
    margin-top: 200px;
    justify-content: space-between;
   
  }
  .fn1{
      width: 200px;
      height: 100px !important;
  }

@media (min-width:728px){
    .text{
        position: relative;
        font-size: 35px;
        margin-top: -300px;
        font-weight: 900;
        color: black;
       
    }
    #home{
        line-height: 200%;
    }
    .image{
        height: 500px;
    }
    .pic:hover{
        opacity: 0.6;
    }
    .text1{
        font-size: 20px;
        
    }
    .flex-container {
        display: flex;
        flex-direction: row;
        margin-top: 200px;
        justify-content: space-between;
        padding: 100px;
      }
      .container1{
          width: 600px;
      }
     
}
@media (min-width:768px){
  
     .pic {
         padding: 20px;
     }
}
